.spyproject/
# Ignore all .DS_Store files
.DS_Store
.venv/
# Ignore Python bytecode directories
**/__pycache__/
__pycache__/

*.pyc
.elasticbeanstalk


# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
